# Ignore Python virtual environment
.venv/
venv/
uv.lock


# Bytecode files
__pycache__/
*.py[cod]

# Environment
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Ignore FAISS index if generated
faiss_index/

# Ignore data uploads (optional)
data/
